$contentBackground: #1c1e2a;
$contentFontFamily: 'Fresca',
sans-serif;
$backgroundImage: url(../img/m-h-night.jpg);
$linear-gradient: linear-gradient(to right,
    #dca002,
    #962c4e);
$colors:(whiteColor:#fff, greyColor:#9ca5b3, colorForHeader: #fff, colorForButton: #e4ae00);
$bgColors:(backgroundForCard:#383d4f, bgForText:#ff4d30);