$contentBackground: #fff;
$contentFontFamily: 'Hind',
sans-serif;
$backgroundImage: url(../img/m-h-day.jpg);
$linear-gradient: linear-gradient(to right,
    #629310,
    #295bd8);
$colors:(whiteColor:#fff, greyColor:#9ca5b3, colorForHeader: #282b39, colorForButton: #699a00);
$bgColors:(backgroundForCard:#1c1e2a, bgForText:#0ca1c8);